.am-list-item.bottomInput .am-input-control input {
  width: 100%;
  position: fixed;
  padding-left: 15px;
  min-height: 44px;
  background-color: white;
  z-index: 2;
  left: 0;
}
.patch-less-extra.am-list-item .am-list-line .am-list-extra {
  flex-basis: 2em;
}
