.contain_img img,
.cover_img img{
  width: 100%;
  height: 100%;
  max-height: unset;
  max-width: unset;
  vertical-align: top;
}
.contain_img img{
  object-fit: contain;
}
.cover_img img{
  object-fit: cover;
}